@model Calicot.Store.Web.ViewModels.IndexViewModel

@{
    ViewBag.Title = L("ProductList");
    ViewBag.ActiveMenu = "ProductList";
}

<h2>@L("ProductList")</h2>

<a class="btn btn-primary btn-sm" asp-action="Create">@L("AddNew")</a>

<div class="row">
    <div>
        <ul class="list-group" id="TaskList">
            @foreach (var product in Model.Products)
            {
                <li class="list-group-item" style="height:130px;margin:5px">
                    <h3 class="pull-right">$ @product.Price</h3>
                    <img class="pull-left" src="@product.ImgUrl" alt="@product.Title" width="100" height="100" style="margin-right:5px">
                    <h4 class="list-group-item-heading">@product.Title</h4>
                    <div class="list-group-item-text">
                        <p>
                            @product.Description
                        </p>
                        @product.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")
                    </div>
                </li>
            }
        </ul>
    </div>
</div>